.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header__span {
  font-size: 21px;
  font-weight: bold;
  width: auto;
  min-width: auto;
  height: auto;
  min-height: auto;
}
