* {
  min-height: auto;
  height: auto;
  cursor: default;
}

.items__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 150px;
  height: 200px;
  padding: 15px 10px;
  text-align: center;
  border-radius: 10px;
}

.items__item_name {
  font-size: 21px;
  color: white;
  cursor: pointer;
}

.items__item_picture {
  width: 40%;
  height: 45%;
  min-width: auto;
  border-radius: 10px;
  cursor: pointer;
}

.items__item_price {
  color: white;
  cursor: pointer;
}

.items__add_button {
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
}
