* {
  min-width: auto;
  min-height: auto;
  height: auto;
  width: auto;
  cursor: default;
  overflow: visible;
}

.cart-modal__container {
  position: absolute;
  z-index: 30;
  width: 80%;
  height: 95%;
  min-width: 50%;
  min-height: 70%;
  background-color: darkslateblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  padding: 10px;
  align-items: flex-end;
  overflow-y: scroll;
}

.cart-modal__products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  color: white;
  overflow: scroll;
  padding-bottom: 15px;
}

.cart-modal__product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  text-align: center;
  background-color: black;
  border-radius: 10px;
  width: 95%;
  margin: 1% auto;
  padding: 15px;
}

.cart-modal__product_image {
  width: 50px;
  height: 50px;
}

.cart-modal__product_name {
  font-size: 16px;
  margin: auto 5px;
}

.cart-modal__product_quantity {
  font-size: 12px;
  margin: auto 3px;
}

.cart-modal__remove_product {
  font-size: 12px;
  margin: auto 6px;
  cursor: pointer;
}

.cart-modal__add_product {
  font-size: 12px;
  margin: auto 6px;
  cursor: pointer;
}

.cart-modal__footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  width: 100%;
  color: white;
  font-size: large;
  font-weight: bold;
}

.cart-modal_prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cart-modal_dicount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cart-modal_dicount_input {
  height: 20px;
  font-size: 16px;
  padding: 6px;
  border-radius: 3px;
  margin: 5px auto;
  cursor: text;
}

.cart-modal_get_dicount_button {
  padding: 15px 10px;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 810px) {
  .cart-modal__container {
    width: 90%;
    height: 80%;
  }
}

@media screen and (max-width: 500px) {
  .cart-modal__product_image {
    width: 30px;
    height: 30px;
  }
}
