<div class="home__container">
  <div style="height: 80%; width: 100%; color: white; font-weight: bolder;">
    <img class="home__banner_image" src="assets/imgs/background.jpg" alt="Varius instruments image">
    <span class="home__banner_tittle">Welcome To Musical Cart, make your cart loud! Add some instruments! ;-)</span>
  </div>

  <div class="home__component">
    <div class="home__search_bar_div">
      <label class="home__search_bar_label" for="instrumentSearch">Search Instruemnt</label>
      <input [(ngModel)]="searcher" (ngModelChange)="filterByValue(products, searcher)" class="home__search_bar"
        type="search" id="instrumentSearch" name="instrumentSearch">
    </div>
    <app-items *ngFor="let product of filteredProducts" [product]="product" (addProductEvent)="addProduct($event)">
    </app-items>
  </div>
</div>
