<div class="cart__component">
  <app-cart-modal [ngStyle]="{'visibility': seeModal ? 'visible' : 'hidden'}" (closeModalEvent)="callModal()"
    [cart]="cart">
  </app-cart-modal>
  <app-items *ngFor="let product of products" [product]="product" (addProductEvent)="addProduct($event)"></app-items>
  <div class="cart__shopping_cart_img_div" [ngClass]="{'notify': cart.length !== 0, 'not_notify': cart.length == 0}">
    <img (click)="callModal()" class="cart__shopping_cart_img" src="assets/icons/shopping-cart.svg" alt="shopping-cart">
  </div>
</div>
