<div class="navigator__container">
  <div class="navigator__links">
    <div class="navigator__link" (click)="goToPage('/home')" (click)="callModal()">Home</div>
    <div class="navigator__link" (click)="goToPage('/cart')" (click)="callModal()">Cart</div>
  </div>
  <div class="navigator__links">
    <div *ngIf="name !== 'Login'" class="navigator__link_bottom" (click)="goToPage('/login/user')"
      (click)="callModal()">Account</div>
    <div class="navigator__link_bottom" (click)="showDropdown()">Categories</div>
    <div
      [ngClass]="{'navigator__dropdown_content_hidden': !seeDropdown, 'navigator__dropdown_content_show': seeDropdown}">
      <span (click)="filterType('acords')" (click)="callModal()" (click)="showDropdown()">Acords</span>
      <span (click)="filterType('wind')" (click)="callModal()" (click)="showDropdown()">Wind</span>
      <span (click)="filterType('percussion')" (click)="callModal()" (click)="showDropdown()">Percussion</span>
      <span (click)="filterType('')" (click)="callModal()" (click)="showDropdown()">All</span>
    </div>
    <div class="navigator__link_bottom" (click)="goToPage('/login')" (click)="callModal()">{{ name }}</div>
  </div>
</div>
